/* styles.css */
/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6fa; /* Light purple background */
}

header {
    background-color: #9370db;
    color: #fff;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 20px;
    }

a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #9370db; /* Darker purple for footer */
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Page-specific Styles */
.home-section {
    text-align: center;
    margin-top: 50px;
}

.about-section,
.projects-section,
.skills-section,
.employment-section {
    margin-top: 20px;
}

/* Add specific styles for each section/page */
/* For example: */
.about-section {
    text-align: center;
}

.projects-section ul {
    list-style: none;
    padding: 0;
}

.skills-section ul {
    list-style: disc;
    padding-left: 20px;
}
